* {
  font-family: Arial, Helvetica, sans-serif;
}

/* 10a */ 

.amazon-button {
  background-color: rgb(255, 216, 20);
  border: none;
  border-radius: 20px;
  padding: 5px 40px;
  font-size: 15px;
}


/* 10b */ 

.uber-button-1 {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 18px;
  margin-right: 20px;
}

.uber-button-2 {
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 18px;
}


/* 10d-g */ 

.toggle-button {
  background-color: rgb(207, 207, 207);
  color: black;
  font-size: 15px;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
}

.is-toggled {
  background-color: black;
  color: white;
}


/* 10h */ 
.error-message {
  color: red;
}


/* 10i-j */ 
.calculator-container {
  background-color: black;
}

.calculation-text {
  color: white;
  font-size: 32px;
}

.grey-button {
  background-color: rgb(100, 100, 100);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 24px;
  height: 60px;
  width: 60px;
  margin-right: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

.orange-button {
  background-color: rgb(255, 162, 0);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 24px;
  height: 60px;
  width: 60px;
  margin-right: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

.clear-button {
  font-size: 16px;
}